
*{
    margin: 0;
}

body{
    background: #C2D9FF;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.container-fluid{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

h1{
    font-size: 72px;
    font-weight: 900;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: #0C356A;
    margin-top: 40px;
    
}

.headings h4{
    font-size: 25px;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: #0174BE;
    margin-bottom: 100px;
}

.headings{
    text-align: center;
}

iframe{
    border-radius: 30px;
    box-shadow: 2px 2px 5px #0C356A;
}

.banner{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 70%;
    border-radius: 30px;
    padding: 50px 0;
    margin-bottom: 100px;
    background: #7fbdd4;
}

.banner h6{
    font-size: 20px;
    color: #0C356A;
    margin-left: 5px;
    margin-bottom: 5px;
}

.banner h2{
    font-size: 65px;
    color:#0C356A;
}

.banner img{
    width: 400px;
}

em{
    font-size: 30px;
    margin-bottom: 20px;
    color: #0174BE;
    text-shadow: 1px 1px #0C356A;
    font-family: serif;
}

.quality{
    color: #0C356A;
    font-size: 50px;
    margin: 50px 0;
}

.cards{
    display: flex;
    justify-content: space-between;
    width: 70%;
    margin-bottom: 50px;
}

.card{
    background: #7fbdd4;
    color:#0C356A;
    padding: 10px;
    border-radius: 10px;
    width: 18rem;
    text-align: center;
    line-height: 1.3;
}


.card h4{
    font-size: 35px;
    margin-bottom: 10px;
}

p{
    text-align: justify;
    font-size: 18px;
    padding: 10px 30px;
}

.quote{
    text-shadow: none;
    font-size: 15px;
    color: #0C356A;
    padding: 0px 30px;
    text-align: center;
    font-family: serif;
    font-style: italic;
    margin: 10px 0;
}

.end-note{
    width: 70%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 50px 0;
    background-color: #7fbdd4;
    padding: 50px 0;
    border-radius: 20px;

}

.end-note h2{
    color: #0C356A;
    font-size: 40px;
    margin-left: 50px;
    width: 50%;
}

.end-note img{
    border-radius: 100% 170%;
    width: 400px;
}

.facts{
    width: 70%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 50px 0;
    background-color: #7fbdd4;
    padding: 50px 0;
    border-radius: 20px;
}

.facts h2{
    color: #0C356A;
    font-size: 40px;
    margin-bottom: 40px;
}

.facts h4{
    font-size: 20px;
    color: #0C356A;
    margin: 10px 0;
}

.facts-head{
    width: 70%;
    cursor: pointer;
    text-align: center;
}

.hide{
    display: none;
}

.show{
    display: flex;
    color: #0C356A;
    width: 60%;
    margin-left: 18%;
}

@media screen and (max-width:1025px) {
    .banner, .cards, .end-note{
        width: 80%;
    }

    .banner h2{
        font-size: 50px;
    }

    .banner h6{
        font-size: 18px;
    }

    .banner img{
        width: 250px;
    }

    .card{
        width: 16rem;
        margin: 0 10px;
        padding:0px;
    }

    .card h4{
        margin-top: 10px;
    }

    .end-note img{
        width: 320px;
    }

    em{
        font-size: 20px;
    }

   
}

@media screen and (max-width:769px) {

    .banner, .end-note{
        width: 90%;
    }

    .facts h2{
        text-align: center;
        margin: 0px 30px 20px 30px;
    }

    .cards{
        flex-direction: column;
        align-items: center;
    }

    .card{
        width: 25rem;
        margin-bottom: 40px;
        padding: 20px;
    }

    .show{
        width: 90%;
        margin-left: 5%;
    }

    .end-note h2{
        font-size: 35px;
    }

    .end-note img{
        width: 250px;
    }
}

@media screen and (max-width:426px) {

    h1{
        font-size: 60px;
    }

    .banner, .end-note{
        flex-direction: column; 
    }

    .card{
        width: 20rem;
    }

    .facts{
        width: 85%;
    }

    .facts-head{
        width: 80%;
    }

    .show p{
        padding: 10px 0;
    }

    .end-note img{
        width: 300px;
        margin-bottom: 20px;
    }

    .end-note h2{
        width: 90%;
    }

    em{
        width: 80%;
        text-align: center;
    }
}

@media screen and (max-width:376px) {
    .banner h2{
        font-size: 40px;
    }

    .banner h6{
        font-size: 16px;
    }

    .card{
        width: 18rem;
    }

    .facts{
        width: 90%;
    }

    .end-note img{
        width: 300px;
        margin-bottom: 20px;
    }

    .end-note h2{
        margin-left: 0;
    }

    em{
        width: 85%;
        text-align: center;
    }
}

@media screen and (max-width:321px) {

    .banner{
        margin-bottom: 50px;
    }
    .banner h2{
        font-size: 35px;
    }

    .banner h6{
        font-size: 14px;
    }

    .cards{
        margin-bottom: 0;
    }

    .quality{
        font-size: 40px;
    }

    .card{
        
        padding: 0;
    }

    .end-note img{
        width: 250px;
        margin-bottom: 20px;
    }

    .end-note h2{
        font-size: 30px;
    }

    em{
        width: 85%;
        text-align: center;
    }
}